<h1>Add Blog</h1>
<form [formGroup]="blogForm">
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Title</label>
            <input type="text" formControlName="title" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
            <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                <div *ngIf="f['title'].errors['title']">First Name is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Description</label>
            <textarea type="textarea" formControlName="description" class="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="isPublished" checked>
                <label class="form-check-label">Is Published</label>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>